@font-face {
    font-family: Robota;
    src: url(../Fonts/RobotoSlab-VariableFont_wght.ttf);
}

body {
    font-family: 'Robota';
    font-size: 14px;
}

.hdr {
    background: #535CA1;
}

.hdr i {
    color: #ffffff;
    font-size: 24px;
    padding: 30px;
}

.hdr a {
    text-decoration: none;
    padding: 30px;
    display: inline-block;
    font-size: 36px;
    color: #ffffff;
    font-family: 'Robota';
    letter-spacing: 1px;
    font-weight: 700;
}

.mainplc {
    height: 500px;
    background-image: url(../img/hand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mainplc .content {
    background-color: #F3F1F0;
    padding: 40px;
    margin: 50px;
    width: 40%;
}

.mainplc .content h2 {
    font-weight: 900;
    letter-spacing: 1;
}

.mainplc .content .transparent {
    color: gray;
    margin: 20px 0;
    letter-spacing: 1;
}

.mainplc .content .txt {
    line-height: 1.8;
    font-size: 14px;
    margin: 15px 0;
}

.mainplc .content a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #535CA1;
    color: #535CA1;
    font-size: 14px;
    margin-top: 20px;
    font-weight: 900;
    letter-spacing: 1;
    transition: all .2s ease-in-out;
}

.mainplc .content a:hover {
    background: #535CA1;
    color: #ffffff;
}

.item-blc {
    background: palevioletred;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}