/*Telefon */
@media screen and (min-width: 320px) and (max-width: 575px) {
  hr {
    border-top: 1px solid gray;
    margin: 40px 0; }

  .hdr i {
    position: fixed;
    background: #535CA1;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    top: 20px;
    left: 17px; }
  .hdr a {
    padding: 30px;
    font-size: 30px; }

  .mainplc .content {
    padding: 30px;
    margin: 30px 20px;
    text-align: center; }
    .mainplc .content .transparent {
      margin: 10px 0; }
    .mainplc .content .txt {
      line-height: 1.4;
      font-size: 13px;
      margin: 10px 0; }

  .readmore {
    padding: 7px 15px;
    font-size: 13px;
    margin-top: 10px; }

  .item-blc {
    margin-bottom: 10px;
    padding: 40px 30px;
    text-align: center; }
    .item-blc h5 {
      font-size: 22px; }

  .top h6, .middle-sec h6 {
    margin: 15px 0; }
  .top p, .middle-sec p {
    line-height: 1.6;
    margin-bottom: 10px; }

  .down {
    margin-bottom: 20px; }

  .orderph1 {
    order: 1; }

  .orderph2 {
    order: 2; }

  .menu {
    display: none; }

  .col-9 {
    width: 100%; } }
@media screen and (min-width: 576px) and (max-width: 991px) {
  hr {
    border-top: 1px solid gray;
    margin: 40px 0; }

  .hdr i {
    position: fixed;
    background: #535CA1;
    border-radius: 5px;
    font-size: 24px;
    padding: 20px;
    top: 10px;
    left: 10px; }
  .hdr a {
    padding: 30px;
    font-size: 30px; }

  .mainplc .content {
    padding: 30px;
    margin: 40px 20px;
    text-align: center; }
    .mainplc .content .transparent {
      margin: 15px 0; }
    .mainplc .content .txt {
      line-height: 1.5;
      font-size: 14px;
      margin: 10px 0; }

  .readmore {
    padding: 8px 17px;
    font-size: 14px;
    margin-top: 15px; }

  .item-blc {
    margin-bottom: 10px;
    padding: 30px 20px;
    text-align: center; }
    .item-blc h5 {
      font-size: 20px; }

  .top h6, .middle-sec h6 {
    margin: 15px 0; }
  .top p, .middle-sec p {
    line-height: 1.6;
    margin-bottom: 10px; }

  .down {
    margin-bottom: 20px; }

  .orderph1 {
    order: 1; }

  .orderph2 {
    order: 2; }

  .menu {
    display: none; }

  .col-9 {
    width: 100%; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  hr {
    margin: 60px 0; }

  .hdr i {
    position: fixed;
    background: #535CA1;
    border-radius: 5px;
    font-size: 24px;
    left: 25%; }
  .hdr a {
    font-size: 32px; }

  .mainplc .content .txt {
    line-height: 1.7; }

  .readmore {
    padding: 8px 17px;
    font-size: 14px;
    margin-top: 15px; }

  .item-blc {
    margin-bottom: 10px;
    padding: 30px 20px;
    text-align: center; }

  .top h6, .middle-sec h6 {
    margin: 15px 0; }
  .top p, .middle-sec p {
    line-height: 1.6;
    margin-bottom: 10px; }

  .down {
    margin-bottom: 40px; } }

/*# sourceMappingURL=responsive.css.map */
