@charset "UTF-8";
@font-face {
  font-family: Robota;
  src: url(../Fonts/RobotoSlab-VariableFont_wght.ttf); }
body {
  font-family: "Robota";
  font-size: 14px; }

hr {
  border-top: 2px solid gray;
  margin: 100px 0; }

.hdr {
  background: #535CA1; }
  .hdr i {
    color: #ffffff;
    font-size: 24px;
    padding: 30px; }
  .hdr a {
    text-decoration: none;
    padding: 30px;
    display: inline-block;
    font-size: 36px;
    color: #ffffff;
    font-family: "Robota";
    letter-spacing: 1;
    font-weight: bold; }

.mainplc {
  height: 500px;
  background-image: url(../img/hand.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .mainplc .content {
    background-color: #F3F1F0;
    padding: 40px;
    margin: 50px;
    max-width: 430px; }
    .mainplc .content h2 {
      font-weight: 900;
      letter-spacing: 1; }
    .mainplc .content .transparent {
      color: gray;
      margin: 20px 0;
      letter-spacing: 1; }
    .mainplc .content .txt {
      line-height: 1.8;
      font-size: 14px;
      margin: 15px 0; }

.readmore {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #535CA1;
  color: #535CA1;
  font-size: 14px;
  margin-top: 20px;
  font-weight: 900;
  letter-spacing: 1;
  transition: all 0.2s ease-in-out; }
  .readmore:hover {
    background: #535CA1;
    color: #ffffff; }

.item-blc {
  background: #EAEBEF;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 40px;
  margin-top: 20px;
  transition: all 0.4s ease-in-out; }
  .item-blc i {
    padding: 10px;
    font-size: 38px; }
  .item-blc h5 {
    padding: 20px; }
  .item-blc p {
    line-height: 1.7;
    text-align: center; }
  .item-blc:hover {
    background: #535CA1;
    color: #ffffff; }

.top img, .middle-sec img {
  width: 100%; }
.top h6, .middle-sec h6 {
  margin: 20px 0;
  font-weight: bold; }
.top p, .middle-sec p {
  line-height: 1.8;
  margin-bottom: 20px; }

.down {
  margin-bottom: 100px; }

.main {
  padding: 0;
  /*menu */ }

form {
  padding: 28px 20px;
  background: #2E2E3A; }
  form input {
    margin-left: 20px;
    background: #2e2e3a;
    border: none;
    padding: 10px; }
  form button {
    background: #2e2e3a;
    color: white;
    border: none;
    padding: 10px; }

.menu {
  padding: 0;
  background: #24252D; }
  .menu .accordion-item {
    padding-left: 20px; }
  .menu .accordion-button {
    background: #24252D;
    border: none;
    border-bottom: 1px solid #1E1F25; }
    .menu .accordion-button:focus {
      box-shadow: none; }
  .menu .accordion-button:not(.collapsed)::after {
    background-image: none;
    content: none; }
  .menu .accordion-button::after {
    font-family: Font awesome;
    content: "";
    color: white; }
  .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 14; }
    .menu a:hover {
      color: #535CA1; }
  .menu li {
    padding: 10px; }

.posts {
  background: #1E1F25;
  color: #ffffff;
  padding: 20px;
  padding-left: 40px; }
  .posts hr {
    border-top: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 30px; }
  .posts img {
    width: 100%; }
  .posts p {
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 1.5; }

.footer {
  text-align: center;
  padding: 50px;
  color: #ffffff;
  line-height: 1.5; }

/*# sourceMappingURL=style.css.map */
