@font-face
    font-family: Robota
    src: url(../Fonts/RobotoSlab-VariableFont_wght.ttf)

body
    font-family: 'Robota'
    font-size: 14px
hr
    border-top: 2px solid gray
    margin: 100px 0
.hdr
    background: #535CA1
    i
        color: #ffffff
        font-size: 24px
        padding: 30px
    a
        text-decoration: none
        padding: 30px
        display: inline-block
        font-size: 36px
        color: #ffffff
        font-family: 'Robota'
        letter-spacing: 1
        font-weight: bold
.mainplc
    height: 500px
    background-image: url(../img/hand.jpg)
    background-repeat: no-repeat
    background-size: cover
    .content
        background-color: #F3F1F0
        padding: 40px
        margin: 50px
        max-width: 430px
        h2
            font-weight: 900
            letter-spacing: 1
        .transparent
            color: gray
            margin: 20px 0
            letter-spacing: 1
        .txt
            line-height: 1.8
            font-size: 14px
            margin: 15px 0
.readmore
    text-decoration: none
    display: inline-block
    padding: 10px 20px
    border: 2px solid #535CA1
    color: #535CA1
    font-size: 14px
    margin-top: 20px
    font-weight: 900
    letter-spacing: 1
    transition: all .2s ease-in-out
    &:hover
        background: #535CA1
        color: #ffffff

.item-blc
    background: #EAEBEF
    box-sizing: border-box
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    padding: 50px 40px
    margin-top: 20px
    transition: all .4s ease-in-out
    i
        padding: 10px
        font-size: 38px
    h5
        padding: 20px
    p
        line-height: 1.7
        text-align: center
    &:hover
        background: #535CA1
        color: #ffffff
.top, .middle-sec
    img
        width: 100%
    h6
        margin: 20px 0
        font-weight: bold
    p
        line-height: 1.8
        margin-bottom: 20px
.down
    margin-bottom: 100px
.main
    padding: 0


    /*menu*/
form
    padding: 28px 20px
    background: #2E2E3A
    input
        margin-left: 20px
        background: #2e2e3a
        border: none
        padding: 10px
    button
        background: #2e2e3a
        color: white
        border: none
        padding: 10px
.menu
    padding: 0
    background: #24252D
    .accordion-item
        padding-left: 20px
    .accordion-button
        background: #24252D
        border: none
        border-bottom: 1px solid #1E1F25
        &:focus
            box-shadow: none
    .accordion-button:not(.collapsed)::after
        background-image: none
        content: none
    .accordion-button::after
        font-family: Font awesome
        content: "\f078"
        color: white
    a
        color: #fff
        text-decoration: none
        font-size: 14
        &:hover
            color: #535CA1
    li
        padding: 10px
.posts
    background: #1E1F25
    color: #ffffff
    padding: 20px
    padding-left: 40px
    hr
        border-top: 1px solid gray
        margin-top: 10px
        margin-bottom: 30px
    img
        width: 100%
    p
        margin-top: 20px
        margin-bottom: 50px
        line-height: 1.5
.footer
    text-align: center
    padding: 50px
    color: #ffffff
    line-height: 1.5